$main-bg: #C5E4E7;
$white: #FFFFFF;
$label-color: #5E7A7D;
$input-bg:#F3F9FA;
$button-selected-bg: #26C2AE;
$results-price-color: #26C2AE;
$reset-button-bg: #26C2AE;
$input-color: #00474B;
$tip-button-bg: #00474B;
$result-bg: #00474B;
